.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-1 {
    margin-top: 1px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-right-9 {
    margin-right: 9px !important;
}

.margin-bottom-1 {
    margin-bottom: 1px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-25 {
    margin-left: 25px !important;
}

.margin-top-bottom-1 {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

// pading
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-1 {
    padding-top: 1px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-bottom-1 {
    padding-bottom: 1px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}

.padding-bottom-4 {
    padding-bottom: 4px !important;
}

.padding-top-bottom-1 {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.min-width-100-per {
    min-width: 100% !important;
}

.color-default {
    color: #37404d !important;
}

.price-background {
    background-color: rgba(69, 32, 37, 0.8);
}

.selectBox.swal2-select.selectBox-dropdown {
    display: none !important;
}

.swal2-container{
    .swal2-shown {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
    .swal2-popup {
        font-size: x-small !important;
        padding: 1.25em 2.25em !important;
    }
}

.text-transform-none {
    text-transform: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-align-center {
    text-align: center !important;
}

.font-weight-700 {
    font-weight: 700;
}

.text-transform-uppercase {
    text-transform: uppercase !important;
}


.price-text {
    font-size: 19px !important;
    color: brown !important;
}

.price-box {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    letter-spacing: 1px;
    padding: 12px;
    text-align: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    h5 {
        color: #fff;
        margin: -4px;
        font-size: 16px;
        text-transform: uppercase;
    }
}

.color-red-black {
    color: #450013 !important;
}

.hover-green-black:hover {
    color: #304a00 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.height-100 {
    height: 100px;
}
.height-70 {
    height: 70px;
}
.max-height-70 {
    max-height: 70px !important;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.transaction-required-color {
    color: #c1751ae6;
}
.transaction-required-bg-color {
    background-color: #c1751ae6;
}

.transaction-cooked-color {
    color: #ea0000db;
}
.transaction-cooked-bg-color {
    
    background-color: #ea0000db;
}
.transaction-dealing-color {
    color: #1c850ee6;
}
.transaction-dealing-bg-color {
    background-color: #1c850ee6;
}
.transaction-dealed-color {
    color: #1c31aae8;
}
.transaction-dealed-bg-color {
    background-color: #1c31aae8;
}
.transaction-shipping-color {
    color: #452c6de6;
}
.transaction-shipping-bg-color {
    background-color: #452c6de6;
}
.transaction-done-color {
    color: #122e33e6;
}
.transaction-done-bg-color {
    background-color: #122e33e6;
}
.transaction-cancel-color {
    color: #4e3b24e6;
}
.transaction-cancel-bg-color {
    background-color: #4e3b24e6;
}

.color-aliceblue{
    color: "aliceblue"
}