.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-1 {
    margin-top: 1px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-bottom-1 {
    margin-bottom: 1px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-25 {
    margin-left: 25px !important;
}

.margin-top-bottom-1 {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

// pading
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-1 {
    padding-top: 1px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-bottom-1 {
    padding-bottom: 1px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}

.padding-top-bottom-1 {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.min-width-100-per {
    min-width: 100% !important;
}

.color-default {
    color: #37404d !important;
}

.price-background {
    background-color: rgba(69, 32, 37, 0.8);
}

.selectBox.swal2-select.selectBox-dropdown {
    display: none !important;
}

.swal2-container{
    .swal2-shown {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
    .swal2-popup {
        font-size: x-small !important;
        padding: 1.25em 2.25em !important;
    }
}

.text-transform-none {
    text-transform: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-align-center {
    text-align: center !important;
}

.font-weight-700 {
    font-weight: 700;
}

.text-transform-uppercase {
    text-transform: uppercase !important;
}