.post-title {
    text-transform: uppercase;
}

.name::placeholder {
    color: black;
}

.form-group .name {
    background-color: #eeeeee;
}

.form-control {
    color: black !important;
}

.datepicker {
    min-height: 45px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e8e8e8;
    background: #fff;
    border-radius: 3px;
    width: 100% !important;
    padding: 2px 15px;
    display: initial;
    white-space: nowrap;
    overflow: hidden;
    line-height: 37px;
    font-size: 14px;
    color: black;
    font-weight: 400;
}
